* {
	box-sizing: border-box;
}
body{
	margin: 0px;

}
.header{
		margin-top: 50px!important;
		padding: 10px 16px;
  		background: #555;
  		color: #f1f1f1;
  		width: 100%;
  		text-align: center;

	}


/* Style di navigasi */
.sidenav {
	padding: 5px;
	top: 0;
	left: 0;
	overflow: hidden;
}

/* navigasi link */
.sidenav a {
  	color: #272121;
  	float: left;
    text-decoration: none;
    padding: 12px 14px;
    text-align: center;
      }

/* Change color on hover */
.sidenav a:hover {
	background-color: #c9d1d3;
	box-sizing: border-box;
}

.ok{
	margin-left: 1055px;
	float: right;
}

.main{
	height: 100%;
	width: 100%;
	padding: 100px;
	background-color: #f8f8f8;
	margin-bottom: 5px;
}

.content {
	height: 100%;
	width: 100%;
	padding: 100px;
	background-color: #f8f8f8;
}

table, th, td {
  			border-bottom-left-radius:0px;
			border-bottom-right-radius:0px;
			border-collapse:collapse;
			border-top-color:rgb(221, 221, 221);
			border-top-left-radius:0px;
			border-top-right-radius:0px;
			border-top-style:solid;
			border-top-width:1px;
			box-sizing:border-box;
			color:rgb(51, 51, 51);
			display:table-cell;
			font-family:"Open Sans", sans-serif;
			font-size:14px;
			height:31px;
			line-height:20px;
			margin-bottom:0px;
			margin-left:50px;
			margin-right:0px;
			margin-top:0px;
			padding-bottom:5px;
			padding-left:5px;
			padding-right:5px;
			padding-top:5px;
			vertical-align:top;
			width:387px;
			-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
		}
		table{
			margin-left: 50px;
		}