body{
	margin: 0;
	font-family: sans-serif;
	background-size: cover;
	background-position: fixed;
	background-repeat: repeat;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.a {
  font-family: Arial, Helvetica, sans-serif;
}

.back-kotaklog {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00909e;
  position: relative;
  z-index: 1;
}




.kotak_login{
	width: 370px;
	background: #fcfefe;
	/*meletakkan form ke tengah*/
	margin-top: 60px;
	margin-bottom: 35px;
	margin-left: 16px;
	padding: 30px 20px;
	border-radius: 10px;

}

.tulisan_login{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 25px;
	font-family: open sans;
	font-style: bold;
	font-weight: 900px;
	text-transform: uppercase;
}

label{
	font-size: 12pt;
	font-weight: bolder;
}

.form_login{
	
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 10pt;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;

}

.tombol_login{
	background-color: #46de4b;
	color: #ffffff;
	margin-top: 30px;
	font-size: 11pt;
	width: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}

.tombol_daftar{
	background-color: #46de4b;
	color: #ffffff;
	margin-top: 80px;
	font-size: 11pt;
	width: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;

}

.tombol_daftar:hover{
	opacity: 0.9;
	border-radius: 15px; 
	background-color: #1089ff;
}

.tombol_login:hover{
	opacity: 0.9;
	border-radius: 15px; 
	background-color: #1089ff;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.content {
  position: absolute;
  bottom: 0;
  background-color: aqua;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}