.navbar {
    color : white;
    background: #93C572;
}

.pus{
    color: #F6D809;
}

.content {
    margin-top : 20px;
}

.menu{
    padding-top: 55px!important;
}

.navside{
    padding-top : 20px!important;
    padding-left : 0px;
    padding-right : 0px;
    height: 100%;
    position: fixed;
    background: #569099;
}

.puskesmas{
    margin-bottom: 50px!important;
    color: #fff;
}

.card1{
    background: #569099;
}

.card2{
    background: #F6D809;
}

.card3{
    background: #A4DAD2;
}

.img-user{
    margin-top: 10px;
    margin-bottom: 20px;
}

.active{
    background: #93C572;
}

.list-group{
    font-family: tahoma;
    font-size: 12px!important;
    background: none;
}

.data{
    padding-left : 20px;
}

.icon-class {
    max-width: 15%!important;
    margin-right: 10px;
}

.img-card{
    max-width: 60%!important;
}