body{
	margin: 0;
	font-family: sans-serif;
	background-size: cover;
	background-position: fixed;
	background-repeat: repeat;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.back-kotakreg {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  position: relative;
  z-index: 1;
}

.back-kotakreg::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff6da;
  background: -webkit-linear-gradient(bottom, #fff6da, #00c6fb);
  background: -o-linear-gradient(bottom, #fff6da, #00c6fb);
  background: -moz-linear-gradient(bottom, #fff6da, #00c6fb);
  background: linear-gradient(bottom, #fff6da, #00c6fb);
  opacity: 0.9;
}

.tulisan_regis{
	text-align: center;
	margin-top: 1px;
	margin-bottom: 18px;
	font-size: 20px;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_regis{
	width: 700px;
	background: #fcfafa;
	/*meletakkan form ke tengah*/
	margin-top: 20px;
	margin-bottom: 18px;
	margin-left: 10px;
	padding: 30px 20px;
	border-radius: 10px;
}


.form_regis{
	
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;

}

.tombol_regis{
	background-color: #46de4b;
	color: #ffffff;
	margin-top: 30px;
	font-size: 11pt;
	width: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}

.tombol_regis:hover{
	opacity: 0.9;
	border-radius: 15px; 
	background-color: #1089ff;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.content {
  position: absolute;
  bottom: 0;
  background-color: aqua;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}